<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Announcements</title>
</head>
<body>
    <h1>The complete list of the available announcements</h1>

    <div id="annTable">
        <table class="table" border="1">
            <thead style="background-color:silver">
                <tr><th scope="col">Share</th><th scope="col">Announcement</th><th scope="col">Type</th></tr>
            </thead>
            <tbody>
                <tr class="loading"><td colspan="3">loading...</td></tr>
            </tbody>
        </table>
    </div>
</body>
</html>

@section scripts{
    
<script src="/Scripts/jquery.signalR-2.4.1.js"></script>
<script src="/signalr/hubs"></script>
<script src="~/Scripts/jquery.color-2.1.2.js"></script>
<script src="~/Scripts/proxy-config.js"></script>
<script>
    $(function () {
        var uri = "https://localhost:44309/api/"
        var $annTable = $('#annTable');
        var $annTableBody = $annTable.find('tbody');
        var rowTemplate = '<tr data-symbol="{Id}"><td>{ShareId}</td><td>{Announcement}</td><td>{Type}</td></tr>';
        function init() {
            console.log("init");
            $.ajax({
                type: 'GET',
                url: uri + 'Announcement',
                success: function (ann) {
                    $annTableBody.empty();
                    $.each(ann, function () {
                        $annTableBody.append(rowTemplate.supplant(this));
                    })
                },
                error: function () { console.log("problem in retreiving the announcements"); }
            });
        }
        $.connection.hub.start().then(init);

        $.extend(proxy.client, {
            updateAnnouncement: function (announcement) {
                console.log("updating announcement");
                $row = $(rowTemplate.supplant(announcement)),
                    $annTableBody.find('tr[data-symbol=' + announcement.Id + ']').replaceWith($row);
                $row.flash("255,255,0", 3e3);
            }
        });

    })
    
</script>
}
